.imagen-animation-container{
    display: flex;
    padding: 10px;
    margin:1px;
}
/* Rotacion imagenes */
.img-rotate{
    width: 90px;
    height: 90px;
    position: relative;
   -webkit-animation: spin 4s linear infinite;
   -moz-animation: spin 4s linear infinite;
   animation: spin 4s linear infinite;
}

@-moz-keyframes spin{
    100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin{
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes spin {
    100%{
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Efecto zoom */
.img-zoom{
    width: 90px;
    height: 90px;
    position: relative;
}

.img-zoom:hover{
    transform: scale(1.5);
}