.container{
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%;
   
}

.principal {
    text-align: center;
    padding: 5%;
    background-color: #1969DE;
    width: 125.5%;
    max-width: 150%;
    margin-left: -15%;
}

.titulo {
    color: white;
    font-size: 5vw;
}

.texto {
    color: white;
    font-size: 2vw;
}

.info {
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 40%;
}

.imagen {
    border-radius: 20px;
    margin-top: -30%;
    margin-left: 50%;
    width: 25%;
    height: 25%;
}

.btnPrincipal{
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 40%;
}